/*https://coolors.co/d8a47f-7b9e87-46494c-df3b57-4c5c68*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #46494C;
    background-color: #D8A47f;
    margin-left: 75px;
    margin-right: 75px;
}

header, footer{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Trebuchet MS';
    text-align: center;
    color: #4C5C68;
    line-height: 25px;
}

.contact{
    text-align: left;
}

a{
    text-decoration: none;
    color: #7B9E87;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: #DF3B57;
}

nav{
    text-align: center;
}