body{
    font-family: 'Trebuchet MS';
    color: darkgreen;
    background-color: rosybrown;
    margin-left: 75px;
    margin-right: 75px;
}

header, footer{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Georgia';
    text-align: center;
    line-height: 0px;
}

a{
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: gold;
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
}

nav{
    text-align: center;
}

/*ITIS 3135 Activty 2 css */

table {
    border-collapse: collapse;
    margin: 20px;
}

thead {
    background-color: darkslategray;
}

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
    color: black;
}

.thead{
    background-color: darkslategray;
}

.right {
    text-align: right;
}

tbody tr:nth-child(odd) td {
    background-color: darkgray;
}

tbody tr:nth-child(even) td {
    background-color: gray;
}

/*ITIS 3135 Activity 3 css */
/* All of the following CSS is based off w3schools.com/css/css_form.asp */
input[type=submit]{
    background-color: darkslateblue;
    color: lightgray;
}

input[type=text], input[type=tel], input[type=email], input[placeholder]{
    background-color: lightgray;
    color: darkslateblue;
    font-family: 'Helvetica';
    margin: 8px 0;
} 

select{
    background-color: lightgray;
    color: darkslateblue;
}

/* ITIS 3135 Activity 5 css */
.button {
    background-color: lightslategray;
    color: darkslateblue;
    border-color: darkslateblue;
    text-align: center;
    font-family:'Verdana';
}

/* ITIS 3135 Activity 7 */
button{
    background-color: lightgray;
    color: darkslateblue;
    border-color: lightslategray;
    text-align: center;
    border-width: 2.5px;
    padding: 5px 2.5px;
}

/* freeCodeCamp Tutorial*/
.calculator{
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

.calculator_display{
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator_keys{
    background-color:#999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.key--operator {
    background-color: #eee;
}

.key--equal {
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}