body{
    font-family: 'Trebuchet MS';
    color: darkgreen;
    background-color: rosybrown;
    margin-left: 75px;
    margin-right: 75px;
}

header, footer{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Georgia';
    text-align: center;
    line-height: 0px;
}

a{
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: gold;
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
}

nav{
    text-align: center;
}

/*ITIS 3135 Activty 2 css */

table {
    border-collapse: collapse;
    margin: 20px;
}

thead {
    background-color: darkslategray;
}

th, td {
    border: 1px solid black;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
    color: black;
}

.thead{
    background-color: darkslategray;
}

.right {
    text-align: right;
}

tbody tr:nth-child(odd) td {
    background-color: darkgray;
}

tbody tr:nth-child(even) td {
    background-color: gray;
}

/*ITIS 3135 Activity 3 css */
/* All of the following CSS is based off w3schools.com/css/css_form.asp */
input[type=submit]{
    background-color: darkslateblue;
    color: lightgray;
}

input[type=text], input[type=tel], input[type=email], input[placeholder]{
    background-color: lightgray;
    color: darkslateblue;
    font-family: 'Helvetica';
    margin: 8px 0;
} 

select{
    background-color: lightgray;
    color: darkslateblue;
}

/* ITIS 3135 Activity 5 css */
.button {
    background-color: lightslategray;
    color: darkslateblue;
    border-color: darkslateblue;
    text-align: center;
    font-family:'Verdana';
}

/* ITIS 3135 Activity 7 */
button{
    background-color: lightgray;
    color: darkslateblue;
    border-color: lightslategray;
    text-align: center;
    border-width: 2.5px;
    padding: 5px, 2.5px;
}