body{
    font-family: 'Optima';
    color: #755051;
    background-color: #EDD4B4;
    margin-left: 70px;
    margin-right: 70px;
}

header, footer{
    text-align: center;
}

h1, h2, h3{
    font-family: 'Gill Sans';
    text-align: center;
    line-height: 15px;
}

a{
    text-decoration: none;
    color: #729C92;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: #7E6678;
}

figure{
    text-align: center;
}

figcaption{
    font-style: italic;
}

nav{
    text-align: center;
}